{%extends 'base.html'%}

{%block content%}

{% for item in matchedItems %}
    {% for request in openRequests %} 
       {% if item.request_id == request %} 
                <div>
                    <ul>
                        <table class="table table-bordered table-striped" style="width:85%; margin-top:20px">
                            <tr>
                                <td>Item type</td>
                                <td>pick up</td>
                                <td>drop off</td>
                                <td>friend phone number</td>
                                <td>URL</td>
                                <td>Pic</td>
                                <td>coordinate form</td> 
                            </tr>
                            <tr>
                                <td>{{item.title}}</td>
                                <td>{{item.city}}</td>
                                <td>{{request.user.home_address}}</td>
                                <td>{{request.user.phone_number}}</td>
                                <td><a href="{{item.url}}">link</a></td>
                                <td><img src="{{item.picture}}" style='width:150px; height:150px'/></td>
                                <td><button type='input' class="btn btn-primary"     
                                onclick="set_for_coordination();">open</button>
                                <button type='input' class="btn btn-danger"     
                                        style="margin-left:10px" onclick="hide_form();">close</button></td>
                            </tr>
                        </table>
                    </ul>
                </div>

                <div class="jumbotron center" id="coordination-div" hidden="true" style="margin-bottom:10%; margin:auto; width:60%; border:3px solid white; padding:10px; background:lavender">
                    <h1 class="display-4" style="text-align:center">COORDINATION FORM</h1> 
                    <h5 style="text-align:center">Insert Dates and times for transfer after coordinating with the relevant contacts:</h5> 
                    <form  method="POST" id="coordination-form" style="margin: auto; width:60%; margin-top:7%">    {%csrf_token%}
                        <div  class="row">
                            {{form.as_table}}
                            <button class="btn-success" type="submit" value="send" style="height:24%;width:50%; border:solid white 2px; margin-top:10px">schedual</button>
                        </div>
                    </form>
                </div>
         {% endif %} 
    {%endfor%}
{%endfor%}
{%endblock%}

